@font-face {
  font-family: "Intel";
  src: url("./assets/font/Inter-VariableFont_opsz,wght.ttf") format("ttf");
}

.body {
  background-color: #f6f7f8;
  margin: 0;
  padding: 0;
  font-family: "Inter-VariableFont_opsz,wght";
  position: absolute;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.content-board {
  padding: 20px;
}

.contentheadline {
  padding-right: 420px;
}

.headlines {
  width: 1208px;
  height: 24px;
  top: 200.5px;
  display: flex;
  gap: 26px;
}

.headlines div {
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 24px;
}

.add-task-btn-category {
  color: #2a3647;
  border: 2px solid #2a3647;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  background-color: white;
  margin-left: 10px;
  margin: 0px;
}

.add-task-btn-category:hover {
  color: #29abe2;
  border-color: #29abe2;
  background-color: white;
}

.card h2 {
  font-size: 1.2rem;
  text-align: left;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: baseline;
  width: 504px;
  height: 48px;
}

.input-decoration {
  width: 48px;
  height: 32px;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: #000;
  margin-right: 5px;
}

.symbol-image {
  width: 32px;
  height: 32px;
}

.board-container {
  width: 1208px;
  height: 688px;
  top: 360px;
  left: 200px;
  gap: 26px;
  position: absolute;
  display: flex;
  cursor: pointer;
}

.board-column {
  width: 246px;
  height: 688px;
  gap: 24px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.board-column.dragover {
  border: 2px dashed #007bff;
}

.board-column .task-card:hover {
  background-color: #ccc;
}

.board-column h3 {
  font-size: 1.1rem;
  text-align: left;
  margin-bottom: 10px;
  flex-grow: 1;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column-header h2 {
  font-size: 1.2em;
  color: #333;
}

.add-column-task-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.add-column-task-button:hover {
  background-color: #d4d4d4;
}

/* Task-Karten */
.no-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 48px;
  background-color: #f4f7f9;
  color: #e7e7e7;
  font-size: 1rem;
  font-weight: bold;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-card {
  width: 252px;
  padding: 16px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  gap: 10px;
}

.task-card:active {
  cursor: grabbing;
  opacity: 0.8;
}

.task-card:hover {
  background-color: #e0e0e0;
}

.task-category {
  width: 125px;
  height: 27px;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px 8px;
  gap: 10px;
  line-height: 19.2px;
  font: inter;
}

.task-card h3 {
  font-size: 1rem;
  margin: 0 0 8px;
  color: #333;
}

.task-card p {
  font-size: 0.9rem;
  color: #757575;
  margin: 0 0 12px;
}

.avatars {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-right: -10px;
  text-transform: uppercase;
  z-index: 1;
  border: 2px solid white;
  background-color: #6e52ff;
}

.avatars .avatar:hover {
  transform: scale(1.1);
  z-index: 10;
}

.priority-icon {
  width: 24px;
  height: 24px;
}

.icon {
  font-size: 1.5rem;
  color: #ff9800;
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.arrow-icon {
  color: #ff9800;
}

.menu-icon {
  color: #ff9800;
}

#addTaskForm {
  display: flex;
  flex-direction: row-reverse;
}

.add-task-modal-content {
  background-color: white;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  width: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#taskDetailsModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  gap: 24px;
}

.error-message {
  color: red;
}

#msg-box {
  color: red;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

.contentH2 {
  font-size: 47px;
  font-weight: 700;
  line-height: 56.4px;
  width: 100%;
  height: 100px;
  top: 80px;
  gap: 20px;
  position: fixed;
  display: flex;
  background-color: #f6f7f8;
  z-index: 2;
  padding-left: 133px;
  align-items: flex-end;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 396px;
  height: fit-content;
  top: 170px;
  left: 110px;
  position: absolute;
  padding: 20px 20px 0px;
}

.form-column-right {
  display: flex;
  flex-direction: column;
  width: 396px;
  top: 535px;
  left: 110px;
  position: relative;
  padding: 0 20px 185px;
  height: fit-content;
}

input[type="text"],
input[type="date"],
select,
textarea {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  width: 100%;
}

textarea {
  resize: vertical;
  height: 80px;
}

.required {
  color: red;
}

.priority {
  display: flex;
  gap: 8px;
  width: auto;
  height: 56px;
  top: 120px;
}

.priority-btn {
  background-color: #ffffff;
  border: none;
  padding: 18px 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  height: 41px;
  width: 121.33px;
  justify-content: center;
}

.priority-btn img {
  position: unset !important;
  width: 30px !important;
  height: 30px !important;
}

.priority-btn.clicked {
  color: #ffffff;
}

.priority-btn[data-priority="Urgent"].active {
  background-color: #ff4d4d;
  color: white;
}

.priority-btn[data-priority="Medium"].active {
  background-color: #ff9900;
  color: white;
}

.priority-btn[data-priority="Low"].active {
  background-color: #33cc33;
  color: white;
}

.priority-btn .priority-icon {
  width: 17px;
  height: 12px;
  top: 12px;
  left: 17px;
  position: relative;
  transition: filter 0.3s ease;
}

.priority-btn[data-priority="Urgent"]:hover {
  background-color: #ff4d4d;
  color: white;
}

.priority-btn[data-priority="Medium"]:hover {
  background-color: #ff9900;
  color: white;
}

.priority-btn[data-priority="Low"]:hover {
  background-color: #33cc33;
  color: white;
}

.priority-btn.active .priority-icon {
  filter: brightness(0) invert(1);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.add-task-label {
  width: 170px;
  height: 27px;
  margin-top: 20px;
}

.bg-mobile-buttons {
  background-color: #f6f7f8;
  position: fixed;
  width: 100%;
  bottom: 80px;
  left: 105px;
  right: 0;
  z-index: 5;
  height: 84px;
}

.addTask-buttons {
  display: flex;
  gap: 16px;
  width: 309px;
  height: 56px;
  z-index: 5;
  margin-left: 5px;
}

.cancel-btn {
  color: #2a3647;
  padding: 16px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 4px;
  width: 126px;
  height: 56px;
  background-color: white;
}

.cancel-btn:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
}

.create-task-btn {
  background-color: #2a3647;
  width: 183px;
  height: 56px;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  gap: 4px;
}

.create-task-btn:hover {
  background-color: #29abe2;
}

.delete-btn {
  cursor: pointer;
}

.edit-btn {
  cursor: pointer;
}

.add-subtask-btn {
  background-color: white;
  border: 1px solid #29abe2;
  margin-top: 5px;
  color: black;
}

.add-subtask-btn:hover {
  color: #29abe2;
  background-color: white;
}

.task-header {
  width: 445px;
  height: 219px;
}

#taskDetailTitle {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

#taskDetailDescription {
  width: 445px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.task-type {
  display: unset;
  padding: 4px 8px;
  font-size: 23px;
  font-weight: 400;
  border-radius: 8px;
  color: white;
  height: 36px;
  gap: 10px;
  size: 23px;
  line-height: 27.6px;
}

#taskSubtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100px;
  align-items: flex-start;
}

#taskDetailPriority {
  display: flex;
  align-items: center;
}

.assignedTo {
  width: 445px;
  height: 208px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

#subtaskContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.taskInfoDueDate {
  width: 445px;
  height: 24px;
  display: flex;
  flex-direction: column;
}

.taskInfoDueDate p {
  display: flex;
  gap: 25px;
}

.taskInfoPriority {
  display: flex;
  align-items: center;
}

.taskInfoPriority p {
  display: flex;
  gap: 38px;
  align-items: center;
}

.task-actions {
  width: 159px;
  height: 24px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  left: 310px;
  position: relative;
}

.task-actions button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.task-actions button img {
  width: 20px;
  height: 20px;
}

.taskInfoDivider {
  width: 1px;
  height: 24px;
  left: 79px;
  border: 1px;
  position: absolute;
  background-color: #d1d1d1;
}

.addTask-headlines {
  padding: 10px 0;
}

.subtask-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.subtask-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subtask-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.subtask-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.subtask-input-container {
  margin-bottom: 10px;
}

.subtask-add-button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtask-add-button img {
  width: 20px;
  height: 20px;
}

.subtask-add-button:hover img {
  filter: brightness(0.8);
}

#subtaskList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.subtask-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.subtask-item span {
  flex-grow: 1;
}

.subtask-title {
  font-size: 14px;
  color: #333;
}

.subtask-actions {
  display: flex;
  gap: 10px;
}

.subtask-actions img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.subtask-actions img:hover {
  transform: scale(1.2);
}

.subtask-edit-input {
  flex: 1;
  border: 1px solid #4a90e2;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: #333;
}

.custom-dropdown {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.dropdown-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow:hover {
  background-color: #d3d3d3;
  border-radius: 55px;
  height: 24px;
  width: 24px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  background-color: white;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
}

.dropdown-search {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}

.dropdownarrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown.open .dropdownarrow {
  transform: rotate(180deg);
}

.dropdown.open .dropdown-options {
  display: block;
}

.custom-second-dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.second-dropdown-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.second-dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.second-dropdown-options.hidden {
  display: none;
}

.second-dropdown-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.second-dropdown-option:hover {
  background-color: #2a3647;
  color: white;
}

.second-dropdown-arrow {
  transition: transform 0.3s ease;
}

.second-dropdown-arrow.open {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.contact-initials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  text-transform: uppercase;
}

.select-icon,
.selected-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  right: 10px;
  position: absolute;
}

.selected-icon {
  display: none;
}

.dropdown-option.selected .select-icon {
  display: none;
}

.dropdown-option.selected .selected-icon {
  display: inline;
}

.dropdown-option:not(.selected):hover .select-icon {
  filter: brightness(0) invert(1);
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #2a3647;
  color: white;
}

.dropdown-option.selected .select-icon .selected-icon {
  background-color: #091931;
  color: white;
}

.selected-contact-initials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 5px;
  text-transform: uppercase;
}
