
h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 138px;
    height: 73px;
    left: 328px;
    top: 206px;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
}

#helpTxtBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 20px 0;
    gap: 24px;
    position: absolute;
    max-width: min(1014px, calc(97vw - 328px));
    width: 100%;
    height: auto;
    left: 328px;
    top: 311px;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

p {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    align-self: stretch;

}

h2 {
    font-weight: 700;
    font-size: 27px;
    color: #000000;
}

.list1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    max-width: 1014px;
    width: 100%;
    height: auto;
    align-self: stretch;
}

.listNR {
    width: 21px;
    height: 32px;
    font-weight: 700;
    font-size: 27px;
    color: #000000;
    white-space: nowrap;
}

.listItem {
    display: flex;
    flex-direction: column;
    max-width: 958px;
    width: 100%;
    height: auto;
}

@media (max-width: 780px) {
    h1 {
      font-size: 41px;
      justify-content: flex-start;
    }
  
    h2 {
      font-size: 22px;
    }
  }

