.pp {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 120px 20px 50px 20px;
  gap: 20px;
}

.content {
  padding-left: 232px;
  padding-top: 80px;
  z-index: 0;
  margin-bottom: 20px;
}