.logo {
    width: 102px;
    height: 122px;
    position: fixed;
    top: 20px;
    left: 20px;
}

.pp {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px 50px 282px;
    gap: 20px;
}

.content {
    padding-left: 232px;
    padding-top: 80px;
    z-index: 0;
    margin-bottom: 20px;
}

#arrowLeft {
    width: 21.33px;
    height: 20.74px;
}

.arrowLeft {
    position: relative;
    width: 32px;
    height: 32px;
    right: -220px;
    top: 58px;
    flex: none;
    flex-grow: 0;
    z-index: 3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Glatte Übergänge */
}

.arrowLeft:hover {
    background-color: lightgrey;
    transform: scale(1.2); /* Vergrößert das Element um 20% */
    border-radius: 18px; /* Beibehaltung des runden Effekts */
}



@media(max-width: 730px) {
    .arrowLeft {
        left: -190px;
    }

}

@media(max-width: 450px) {
    .content {
        padding-left: 40px;
        padding-top: 84px;
    }

    .logo {
        width: 62px;
        height: 82px;
    }

    .backBtn {
        top: 114px;
        left: 56px;
    }

    .pp {
        margin: 100px 50px 50px 63px
    }

    .backBtnLink {
        top: 114px;
        left: 56px;
    }
}

@media(max-width: 394px) {
    .logo {
        left: 0;
    }

    .content {
        padding-left: 0px;
        padding-top: 84px;
    }

    .pp {
        font-size: 16px;
        margin: 100px 20px 50px 20px;
    }

    .backBtn {
        top: 116px;
        left: 12px;
    }

    .backBtnLink {
        top: 116px;
        left: 12px;
    }
}