.pp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 210px 0px 0px 328px;
  padding-bottom: 50px;
  gap: 20px;
  max-width: 1400px;
  width: 100%;
  height: fit-content;
}

.pp p {
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

h2 {
  font-weight: 700;
  font-size: 27px;
  color: #000000;
}

@media (max-width: 780px) {
  h1 {
    font-size: 41px;
  }

  h2 {
    font-size: 22px;
  }
}