.signedInFont {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.privacyCheckbox {
    display: flex;
    width: 235px;
    height: 24px;
    flex: none;
    flex-grow: 0;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

a {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #29ABE2;
    flex: none;
    flex-grow: 0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.privacyCheckbox:hover .customCheckbox {
    border-color: #29ABE2;
    background-color: lightgrey;
    box-shadow: 0 0 5px black;
}

#signedUp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    width: 312px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    opacity: 0;
    position: absolute; /* Absolut positioniert */
    top: -74px; /* Start außerhalb des Viewports */
    transform: translateX(-50%) translateY(-100%); /* Zentrieren und außerhalb des Viewports */
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 5;
}

#signedUp.slide-in {
    animation: slideDown 1.5s ease forwards;
}

#signedUp.slide-out {
    animation: slideUp 1.5s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(20vh);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

#arrowLeft {
    width: 21.33px;
    height: 20.74px;
}

.arrowLeft {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 40px;
    top: 56px;
    flex: none;
    flex-grow: 0;
    z-index: 3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowLeft:hover {
    background-color: lightgrey;
    width: 38px;
    height: 38px;
    border-radius: 18px;
}

#iAccept {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.lockSignUp {
    position: absolute;
    top: 317px;
    right: 34px;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.lockSignUp2 {
    position: absolute;
    top: 389px;
    right: 34px;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.mailSignUp {
    position: absolute;
    top: 245px;
    right: 34px;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

.person {
    position: absolute;
    top: 173px;
    right: 34px;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}

#newUserSpan {
    width: 153px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: nowrap;
}

.signUpContainer .vector {
    margin-top: -26px;
}

.loginContainerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 88px;
    gap: 32px;
    isolation: isolate;
    position: absolute;
    height: 595px;
    width: 100%;
    max-width: 396px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
}

.signUpContainer form {
    gap: 24px;
    width: 100vw;
}

.signUpContainer h1 {
    width: 173px !important;
    height: 72px !important;
    white-space: nowrap;
}

#msgBoxMail {
    position: absolute;
    color: red;
    font-size: 0.99rem;
    font-weight: 800;
    top: 47.5%;
    left: 5%;
}

.msgBox2 {
    position: absolute;
    color: red;
    font-size: 0.99rem;
    font-weight: 800;
    top: 71.8%;
    left: 5%;
}

@media(max-width: 396px) {
    .lockSignUp,
    .lockSignUp2, 
    .mailSignUp,
    .person {
        right: calc(94px - (396px - 100vw));
    }
    
    #msgBoxMail {
        left: 11%;
    }

    .msgBox2 {
        left: 11%;
    }

}

@media (max-height: 776px) and (max-width: 400px) {
   
    #newUserSpan {
        width: fit-content;
        font-size: 18px;
    }

}

@media (max-height: 705px) {
    #msgBoxMail {
        top: 49%;
    }

    .msgBox2 {
        top: 76.3%;
    }
}