@media(max-width: 1355px) {
    .greetingBox {
        left: 328px;
        top: unset;
        bottom: min(calc(10vh - 20px), 50px) !important;
        align-items: flex-start;
        flex-direction: row;
    }

    #daytime {
        white-space: nowrap;
        font-size: 36px;
    }

    #userName {
        font-size: 38px;
    }
}

@media (max-width: 1355px) and (max-height: 1220px) {
    .greetingBox {
        position: absolute;
        left: 328px;
        top: unset;
        justify-content: flex-start;
        /* Dynamische Berechnung */
        bottom: max(10px, calc((1220px - 100vh) * 0.2));
        /* Proportionale Verschiebung */
        align-items: flex-start;
    }
}

@media (max-width: 1355px) and (min-height: 1230px) {
    .greetingBox {
        position: absolute;
        left: 328px;
        top: unset;
        bottom: 200px !important;
        align-items: flex-start;
        width: 560px;
        justify-content: center;
    }
}

@media(max-width: 975px) and (min-height: 1080px) {
    .h1Div {
        flex-direction: column;
        left: 328px;
        gap: 18px;
        width: 460px;
        top: 155px;
    }

    .greetingBox {
        left: 328px;
        bottom: 130px !important;
        top: unset;
        width: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h1Div h1 {
        border-bottom: solid #29ABE2;
    }

    .h1UnderlineDiv {
        border: unset;
        justify-content: center;
    }

    .cardOverviewDiv {
        max-width: 460px;
        width: 100%;
        top: calc(50% - 562px/2 + 1px);
    }

    .toDoAndDoneDiv {
        width: 100%;
        /* Container passt sich dynamisch an */
        max-width: 460px;
    }

    .toDoAndDoneCard {
        width: calc((100% - 10px * 3) / 2);
    }

    .urgentDeadlineDiv {
        width: 100%;
        padding: 28px 13px;
        gap: 36px;
    }

    .urgentDeadlineDiv:hover {
        padding: 28px 13px;
    }

    .taskOverview {
        width: 100%;
    }

    .taskOverviewCard {
        width: calc((100% - 20px * 2) / 3);
    }
}

@media(max-width: 975px) and (max-height: 1080px) {
    .cardOverviewDiv {
        max-width: 460px;
        width: 100%;
        top: calc(50% - 562px/2 + 1px);
    }

    .toDoAndDoneDiv {
        width: 100%;
        /* Container passt sich dynamisch an */
        max-width: 460px;
    }

    .toDoAndDoneCard {
        width: calc((100% - 10px * 3) / 2);
    }

    .urgentDeadlineDiv {
        width: 100%;
        padding: 28px 13px;
        gap: 36px;
    }

    .urgentDeadlineDiv:hover {
        padding: 28px 13px;
    }

    .taskOverview {
        width: 100%;
    }

    .taskOverviewCard {
        width: calc((100% - 20px * 2) / 3);
    }

    .h1Div {
        top: 176px;
        gap: 20px;
        justify-content: flex-start;
    }

    .h1Div h1 {
        font-size: 42px;
        white-space: nowrap;
    }

    .h1UnderlineDiv {
        width: 295px;
        justify-content: center;
    }

    .h1UnderlineDiv p {
        font-size: 23px;
        padding-left: 22px;
    }

}

@media (max-height: 1080px) and (min-width: 975px) {
    .h1Div {
        top: 130px;
    }

    .h1UnderlineDiv {
        justify-content: center;
    }

    .cardOverviewDiv {
        top: 215px !important;
    }
}

@media(max-height: 960px) {
    .greetingBox {
        flex-direction: row;
        align-items: flex-end;
        width: 560px;
        left: 328px;
    }

    #daytime {
        font-size: 40px;
        white-space: nowrap;
    }

    #userName {
        font-size: 42px;
    }

}

@media(max-height: 872px) {
    .greetingBox {
        bottom: 0 !important;
    }
}




@media (max-width: 975px) and (max-height: 1060px) {

    .h1Div {
        flex-direction: row;
        top: 104px;
    }

    .h1Div h1 {
        white-space: nowrap;
        top: 50px;
    }

}

@media (max-width: 732px) and (max-height: 1060px) {

    .h1Div p {
        font-size: 20px;
        margin-left: 20px;
        white-space: nowrap;
    }

    .h1UnderlineDiv {
        justify-content: unset;
    }

    .h1Div h1 {
        font-size: 28px;
    }

    #daytime {
        font-size: 40px;
    }

    #userName {
        font-size: 42px;
    }
}

@media(max-height: 930px) and (max-width: 975px) {
    .h1Div h1 {
        border-right: solid #29ABE2;
        width: 230px;
        height: 49px;
        border-bottom: unset;
        font-size: 44px;
    }

    .h1Div {
        top: 86px;
    }

    .h1UnderlineDiv {
        justify-content: flex-start;
        border: unset;
    }

    .h1UnderlineDiv p {
        font-size: 22px;
        width: 200px;
    }


}


@media(max-width: 820px) {

    .cardOverviewDiv,
    .greetingBox,
    .h1Div {
        left: 252px;
    }
}

@media(max-width: 730px) {
    .cardOverviewDiv {
        max-width: 360px;
    }

    .urgentDeadlineDiv {
        gap: 4px;
    }

    #deadlineDate {
        font-size: 19px;
    }

    .urgentDeadlineDiv:hover {
        padding: unset;
        gap: 4px
    }

    .greetingBox,
    .h1Div {
        width: 360px;
    }

    .greetingBox {
        align-items: flex-start;
    }

    #daytime {
        white-space: nowrap;
    }
}

@media(max-width: 1280px) and (max-height: 805px) {
    .greetingBox {
        right: 40px !important;
        left: unset;
        width: fit-content;
        top: 50%;
        flex-direction: column;
        align-items: baseline;
    }

    #userName {
        font-size: 52px;
    }

    #daytime {
        font-size: 48px;
    }
}

@media(max-width: 1024px) and (max-height: 600px) {
    .greetingBox {
        display: none;
    }
}