.h1Div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 625px;
    height: 73px;
    left: 328px;
    top: 206px;
    bottom: unset;
}

.h1Div h1 {
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    color: #000000;
}

.h1UnderlineDiv {
    height: 65px;
    width: 332.5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: solid #29ABE2;
}

.h1UnderlineDiv p {
    font-weight: 400;
    font-size: 27px;
}

.cardOverviewDiv {
    position: absolute;
    width: 560px;
    height: 562px;
    left: 328px;
    top: 335px;
    bottom: unset;
    /* Eigene Idee, die Box als Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.toDoAndDoneDiv {
    display: flex;
    justify-content: space-between;
    width: 560px;
    height: 168px;
}

.toDoAndDoneCard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 18px;
    width: 264px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.urgentDeadlineDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 28px 48px;
    gap: 61px;
    width: 560px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#urgentTaskBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;
    width: 130px;
    height: 96px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#amountUrgentTasksDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 52px;
    height: 96px;
}

#urgentAmount {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

#urgentSpam {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
}

#vectorHorizontal {

    width: 0px;
    height: 102.02px;
    border: 2px solid #D1D1D1;
}

#deadlineDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 178px;
    height: 57px;
}

#deadlineDate {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
    white-space: nowrap;
}

#upcommingSpan {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;
    white-space: nowrap;
}

.taskOverview {
    width: 560px;
    height: 170px;
    display: flex;
    justify-content: space-between;
}

.taskOverviewCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 13px;
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.taskCounterDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 83px;
    height: 125px;
}

.taskCount {
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    color: #000000;
}

.taskCounterText {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #2A3647;
}

.greetingBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
    position: absolute;
    width: 385px;
    height: 136px;
    left: 968px;
    top: 547.5px;
}

#daytime {
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #2A3647;
}

#userName {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
}

#toDoCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 63px;
    height: 101px;
}


.urgentDeadlineDiv:hover {

    padding: 28px 48px;
    gap: 61px;
    transform: scale(1.1);
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.toDoAndDoneCard:hover {
    padding: 38px 19px;
    gap: 18px;
    transform: scale(1.1);
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.taskOverviewCard:hover {
    padding: 25px 0px;
    gap: 13px;
    transform: scale(1.1);
    background: #2A3647;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.toDoAndDoneCard:hover span,
.urgentDeadlineDiv:hover span,
.taskOverviewCard:hover span {
    color: #FFFFFF !important;
}

#doneCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 50px;
    height: 101px;
}

#toDoCounterSpan {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

#doneCounterSpan {
    width: 50px;
    height: 77px;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}

.toDoDoneSpan {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #2A3647;
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media(max-width: 1355px) {
    .greetingBox {
        left: 468px;
        top: unset;
        bottom: min(calc(10vh - 20px), 50px) !important;
        align-items: flex-start
    }
}
@media (max-width: 1355px) and (max-height: 1220px) {
    .greetingBox {
        position: absolute;
        left: 468px;
        top: unset;

        /* Dynamische Berechnung */
        bottom: max(10px, calc((1220px - 100vh) * 0.2)); /* Proportionale Verschiebung */
        align-items: flex-start;
    }
}

@media (max-width: 1355px) and (min-height: 1230px) {
    .greetingBox {
        position: absolute;
        left: 468px;
        top: unset;
        bottom: 200px !important; /* Fester Abstand */
        align-items: flex-start;
    }
}

@media(max-width: 975px) {
    .h1Div {
        flex-direction: column;
        left: 328px;
        gap: 18px;
        width: 460px;
    }

    .greetingBox {
        left: 328px;
        bottom: 200px !important;
        top: unset;
        width: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h1Div h1 {
        border-bottom: solid #29ABE2;
    }

    .h1UnderlineDiv {
        border: unset;
    }

    .cardOverviewDiv {
        max-width: 460px;
        width: 100%;
        top: calc(50% - 562px/2 + 1px);
    }

    .toDoAndDoneDiv {
        width: 100%;
        /* Container passt sich dynamisch an */
        max-width: 460px;
    }

    .toDoAndDoneCard {
        width: calc((100% - 10px * 3) / 2);
    }

    .urgentDeadlineDiv {
        width: 100%;
        padding: 28px 13px;
        gap: 36px;
    }

    .urgentDeadlineDiv:hover {
        padding: 28px 13px;
    }

    .taskOverview {
        width: 100%;
    }

    .taskOverviewCard {
        width: calc((100% - 20px * 2) / 3);
    }
}

@media (max-width: 975px) and (max-height: 1230px) {
    .greetingBox {
        position: absolute;
        left: 328px;
        top: unset;
        bottom: 50px !important; /* Fester Abstand */
        align-items: flex-start;
    }

    .h1Div {
        top: 150px;
    }
}

@media (max-width: 975px) and (max-height: 1060px) {
    
    .h1Div {
        flex-direction: row;
        top: 104px;
    }

    .h1Div h1 {
        white-space: nowrap;
        top: 50px;
    }

}

@media (max-width: 732px) and (max-height: 1060px) {
    
    .h1Div p{
        font-size: 20px;
    }

    .h1UnderlineDiv {
        justify-content: unset;
    }

    .h1Div h1 {
        font-size: 28px;
    }

    #daytime {
        font-size: 40px;
    }
    #userName {
        font-size: 50px;
    }

}


@media(max-width: 820px) {

    .cardOverviewDiv,
    .greetingBox,
    .h1Div {
        left: 252px;
    }
}

@media(max-width: 730px) {
    .cardOverviewDiv {
        max-width: 360px;
    }

    .urgentDeadlineDiv {
        gap: 4px;
    }

    #deadlineDate {
        font-size: 19px;
    }

    .urgentDeadlineDiv:hover {
        padding: unset;
        gap: 4px
    }
    
    .greetingBox,
    .h1Div {
        width: 360px;
    }

    .greetingBox {
        align-items: flex-start;
    }
    
    #daytime {
        white-space: nowrap;
    }   
}

