
/* 
███████╗██████╗░░██████╗████████╗███████╗      ██████╗░██╗██╗░░░██╗
██╔════╝██╔══██╗██╔════╝╚══██╔══╝██╔════╝      ██╔══██╗██║██║░░░██║
█████╗░░██████╔╝╚█████╗░░░░██║░░░█████╗░░      ██║░░██║██║╚██╗░██╔╝
██╔══╝░░██╔══██╗░╚═══██╗░░░██║░░░██╔══╝░░      ██║░░██║██║░╚████╔╝░
███████╗██║░░██║██████╔╝░░░██║░░░███████╗      ██████╔╝██║░░╚██╔╝░░
╚══════╝╚═╝░░╚═╝╚═════╝░░░░╚═╝░░░╚══════╝      ╚═════╝░╚═╝░░░╚═╝░░░ */

/* UNTERGEORDNET ".content" */

.contact-board {
    background-color: white;
    padding: 0 40px;
    width: 33%;
    max-height: calc(100vh - 96px);         /* 96px beträgt die Höhe der Nav-Bar */
    z-index: 2;
    filter: drop-shadow(-5px 8px 5px);
    /* background-color: var(--background-color-header);  SPÄTER WIEDER REIN NEHMEN!!  */ 
    overflow-y: auto;
    scroll-behavior: smooth;
    position: absolute;
    width: 456px;
    height: 928px;
    left: 232px;
    top: 96px;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

/* 
███████╗░██╗░░░░░░░██╗███████╗██╗████████╗███████╗      ██████╗░██╗██╗░░░██╗
╚════██║░██║░░██╗░░██║██╔════╝██║╚══██╔══╝██╔════╝      ██╔══██╗██║██║░░░██║
░░███╔═╝░╚██╗████╗██╔╝█████╗░░██║░░░██║░░░█████╗░░      ██║░░██║██║╚██╗░██╔╝
██╔══╝░░░░████╔═████║░██╔══╝░░██║░░░██║░░░██╔══╝░░      ██║░░██║██║░╚████╔╝░
███████╗░░╚██╔╝░╚██╔╝░███████╗██║░░░██║░░░███████╗      ██████╔╝██║░░╚██╔╝░░
╚══════╝░░░╚═╝░░░╚═╝░░╚══════╝╚═╝░░░╚═╝░░░╚══════╝      ╚═════╝░╚═╝░░░╚═╝░░░ */

/* UNTERGEORDNET ".contact-board" */

.add-new-contact-background {
    filter: drop-shadow(-6px 10px 6px white);
    position: sticky;
    width: auto;
    height: 101px;
    left: calc(50% - 456px / 2);
    top: 0px;
    background: #FFFFFF;
}

/* 
██╗░░░██╗███╗░░██╗████████╗███████╗██████╗░░██████╗░███████╗░█████╗░██████╗░██████╗░███╗░░██╗███████╗████████╗
██║░░░██║████╗░██║╚══██╔══╝██╔════╝██╔══██╗██╔════╝░██╔════╝██╔══██╗██╔══██╗██╔══██╗████╗░██║██╔════╝╚══██╔══╝
██║░░░██║██╔██╗██║░░░██║░░░█████╗░░██████╔╝██║░░██╗░█████╗░░██║░░██║██████╔╝██║░░██║██╔██╗██║█████╗░░░░░██║░░░
██║░░░██║██║╚████║░░░██║░░░██╔══╝░░██╔══██╗██║░░╚██╗██╔══╝░░██║░░██║██╔══██╗██║░░██║██║╚████║██╔══╝░░░░░██║░░░
╚██████╔╝██║░╚███║░░░██║░░░███████╗██║░░██║╚██████╔╝███████╗╚█████╔╝██║░░██║██████╔╝██║░╚███║███████╗░░░██║░░░
░╚═════╝░╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═╝░░╚═╝░╚═════╝░╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═╝░░╚══╝╚══════╝░░░╚═╝░░░ */

/* UNTERGEORDNET ".add-new-contact-background" */

.add-new-contact-btn {
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 16px;
    position: absolute;
    width: 352px;
    height: 56px;
    left: calc(50% - 352px / 2);
    top: calc(50% - 56px / 2);
    background: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.add-new-contact-btn img {
    width: 32px;
    height: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.add-new-contact-btn p {
    font-weight: 700;
    font-size: 21px;
}

/* HOVER EFFEKTE */

.add-new-contact-btn:hover {
    border-color: #29ABE2;
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 
███████╗░██╗░░░░░░░██╗███████╗██╗████████╗███████╗      ██████╗░██╗██╗░░░██╗
╚════██║░██║░░██╗░░██║██╔════╝██║╚══██╔══╝██╔════╝      ██╔══██╗██║██║░░░██║
░░███╔═╝░╚██╗████╗██╔╝█████╗░░██║░░░██║░░░█████╗░░      ██║░░██║██║╚██╗░██╔╝
██╔══╝░░░░████╔═████║░██╔══╝░░██║░░░██║░░░██╔══╝░░      ██║░░██║██║░╚████╔╝░
███████╗░░╚██╔╝░╚██╔╝░███████╗██║░░░██║░░░███████╗      ██████╔╝██║░░╚██╔╝░░
╚══════╝░░░╚═╝░░░╚═╝░░╚══════╝╚═╝░░░╚═╝░░░╚══════╝      ╚═════╝░╚═╝░░░╚═╝░░░ */

/* UNTERGEORDNET ".contact-board" */

#contactList {

}

/* 
██╗░░░██╗███╗░░██╗████████╗███████╗██████╗░░██████╗░███████╗░█████╗░██████╗░██████╗░███╗░░██╗███████╗████████╗
██║░░░██║████╗░██║╚══██╔══╝██╔════╝██╔══██╗██╔════╝░██╔════╝██╔══██╗██╔══██╗██╔══██╗████╗░██║██╔════╝╚══██╔══╝
██║░░░██║██╔██╗██║░░░██║░░░█████╗░░██████╔╝██║░░██╗░█████╗░░██║░░██║██████╔╝██║░░██║██╔██╗██║█████╗░░░░░██║░░░
██║░░░██║██║╚████║░░░██║░░░██╔══╝░░██╔══██╗██║░░╚██╗██╔══╝░░██║░░██║██╔══██╗██║░░██║██║╚████║██╔══╝░░░░░██║░░░
╚██████╔╝██║░╚███║░░░██║░░░███████╗██║░░██║╚██████╔╝███████╗╚█████╔╝██║░░██║██████╔╝██║░╚███║███████╗░░░██║░░░
░╚═════╝░╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═╝░░╚═╝░╚═════╝░╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═╝░░╚══╝╚══════╝░░░╚═╝░░░ */

/* UNTERGEORDNET "#contactList" */

.user-contact {       
    padding: 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    overflow: auto;
    padding-left: 2%;
    color: white;
}

.user-contact:hover {
    background-image: linear-gradient(to top, #F0F0F0 0%, #F9F9F9 50%);
    border-radius: 8px;
}


/* &&&&&&&&&&&&&&&&&&&& */


.headLetterDiv {

}

/* &&&&&&&&&&&&&&&&&&&& */

.clicked-Background {
    background-color: var(--background-color-nav) !important;
    border-radius: 8px;
    background-image: none !important;
    color: white !important;
}

.clicked-Background p {
    color: white !important;
}

/* 
██╗░░░██╗███╗░░██╗████████╗███████╗██████╗░░██████╗░███████╗░█████╗░██████╗░██████╗░███╗░░██╗███████╗████████╗
██║░░░██║████╗░██║╚══██╔══╝██╔════╝██╔══██╗██╔════╝░██╔════╝██╔══██╗██╔══██╗██╔══██╗████╗░██║██╔════╝╚══██╔══╝
██║░░░██║██╔██╗██║░░░██║░░░█████╗░░██████╔╝██║░░██╗░█████╗░░██║░░██║██████╔╝██║░░██║██╔██╗██║█████╗░░░░░██║░░░
██║░░░██║██║╚████║░░░██║░░░██╔══╝░░██╔══██╗██║░░╚██╗██╔══╝░░██║░░██║██╔══██╗██║░░██║██║╚████║██╔══╝░░░░░██║░░░
╚██████╔╝██║░╚███║░░░██║░░░███████╗██║░░██║╚██████╔╝███████╗╚█████╔╝██║░░██║██████╔╝██║░╚███║███████╗░░░██║░░░
░╚═════╝░╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═╝░░╚═╝░╚═════╝░╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═╝░░╚══╝╚══════╝░░░╚═╝░░░ */

/* UNTERGEORDNET ".user-contact" */

.user-symbole {
    background-color: white;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* &&&&&&&&&&&&&&&&&&&& */

.user-shortcut-Info {

}



/* UNTERGEORDNET ".headLetterDiv" */

.headLetter {
    font-size: large;
    padding: 20px;
}

/* 
██╗░░░██╗███╗░░██╗████████╗███████╗██████╗░░██████╗░███████╗░█████╗░██████╗░██████╗░███╗░░██╗███████╗████████╗
██║░░░██║████╗░██║╚══██╔══╝██╔════╝██╔══██╗██╔════╝░██╔════╝██╔══██╗██╔══██╗██╔══██╗████╗░██║██╔════╝╚══██╔══╝
██║░░░██║██╔██╗██║░░░██║░░░█████╗░░██████╔╝██║░░██╗░█████╗░░██║░░██║██████╔╝██║░░██║██╔██╗██║█████╗░░░░░██║░░░
██║░░░██║██║╚████║░░░██║░░░██╔══╝░░██╔══██╗██║░░╚██╗██╔══╝░░██║░░██║██╔══██╗██║░░██║██║╚████║██╔══╝░░░░░██║░░░
╚██████╔╝██║░╚███║░░░██║░░░███████╗██║░░██║╚██████╔╝███████╗╚█████╔╝██║░░██║██████╔╝██║░╚███║███████╗░░░██║░░░
░╚═════╝░╚═╝░░╚══╝░░░╚═╝░░░╚══════╝╚═╝░░╚═╝░╚═════╝░╚══════╝░╚════╝░╚═╝░░╚═╝╚═════╝░╚═╝░░╚══╝╚══════╝░░░╚═╝░░░ */

/* UNTERGEORDNET ".user-shortcut-Info" */

.user-shortcut-name {

}

/* &&&&&&&&&&&&&&&&&&&& */

.user-shortcut-email {

}






















