

/* UNTERGEORDNET ".content" */
.contact-board {
    position: absolute;
    top: 96px;
    left: 232px;
    background-color: white;
    padding: 0 40px;
    max-width: 456px;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 96px);         /* 96px beträgt die Höhe der Nav-Bar */
    z-index: 2;
    filter: drop-shadow(-5px 8px 5px);
    overflow-y: auto;
    scroll-behavior: smooth;
}

/* UNTERGEORDNET ".contact-board" */
.add-new-contact-background {
    position: sticky;
    top: 0;
    left: calc(50% - 456px / 2);
    width: auto;
    height: 101px;
    background: var(--background-color-header);
    padding: 20px 0;
}

/* UNTERGEORDNET ".add-new-contact-background" */
.add-new-contact-btn {
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
    gap: 16px;
    position: absolute;
    width: 352px;
    height: 56px;
    left: calc(50% - 352px / 2);
    top: calc(50% - 56px / 2);
    background: var(--background-color-sidebar);
    border: 1px solid var(--background-color-sidebar);
    border-radius: 10px;
    background-color: var(--background-color-nav);
}

.add-new-contact-btn img {
    width: 32px;
    height: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.add-new-contact-btn p {
    font-weight: 700;
    font-size: 21px;
}

/* HOVER EFFEKTE */
.add-new-contact-btn:hover {
    border-color: var(--background-color-hover);
    background: var(--background-color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

/* UNTERGEORDNET "#contactList" */
.user-contact {       
    padding: 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    overflow: hidden;
    padding-left: 2%;
    color: white;
}

.user-contact:hover {
    background-image: linear-gradient(to top, var(--background-color-hover-contact) 0%, #F9F9F9 50%);
    border-radius: 8px;
    scale: 1.05;
}

.clicked-Background {
    background-color: var(--background-color-nav) !important;
    border-radius: 8px;
    background-image: none !important;
    color: white !important;
    scale: 1.05;
}

.clicked-Background p {
    color: white !important;
}

/* UNTERGEORDNET ".user-contact" */
.user-symbole {
    background-color: white;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* UNTERGEORDNET ".headLetterDiv" */
.headLetter {
    font-size: large;
    padding: 20px;
}