

/* Alles zum Modal Background */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Alles zum Modal für Add new Contact & Edit */
.modal {
    display: flex;
    z-index: 4;
}

#msgBoxMail {
    position: absolute;
    color: red;
    font-size: 0.99rem;
    font-weight: 800;
    margin-top: 0.25rem;
    top: 60%;
    left: 1%;
}

#msgBoxTel {
    position: absolute;
    color: red;
    font-size: 0.99rem;
    font-weight: 800;
    margin-top: 0.25rem;
    top: 98%;
    left: 1%;
}

.modal-same-padding {
    padding-bottom: 104px;
}

/* Alles zum Model Right */
.modal-right {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: var(--background-color-header);
    justify-content: center;
    height: 594px;
    width: 745px;
}


.modal-right-top {
    display: flex;
    justify-content: flex-end;
}

.modal-right-top img {
    cursor: pointer;
}

.modal-right-top div {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.modal-right-bottom {
    display: flex;
    align-items: center;
}

.modal-right-div {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.modal-inputfield {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 422px;
    height: 215px;
    position: relative;
}

.modal-inputfield-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 367px;
    height: 57px;
}

.modal-inputfield-buttons button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
}

#cancelBtn {
    width: 126px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

#cancelBtn Div {
    width: 24px;
    height: 24px;
}

#createContactBtn {
    width: 214px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

#createContactBtn Div {
    width: 24px;
    height: 24px;
}

#cancelBtn:hover #cancel-icon {
    display: unset;
}

#cancelBtn:hover #cancel-icon1 {
    display: none;
}


/* Für das X-Icon bei Cancel X */
#cancelBtn:hover .cancel-icon {
    filter: grayscale(1) sepia(1) saturate(10) hue-rotate(185deg);
}

#cancelBtn:hover {
    color: var(--background-color-hover);
    border: 2px solid var(--background-color-hover);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#createContactBtn:hover {
    border-color: var(--background-color-hover) !important;
    background: var(--background-color-hover) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancel-icon {
    width: 10.5px;
    height: 10.5px;
}

.create-icon {
    width: 15.5px;
    height: 11.2px;
}

.modal-inputfield input {
    font-size: 20px;
    font-weight: 400;
    padding-left: 40px;
    cursor: pointer;
    background-origin: content-box;
    border-radius: 10px;
    border: solid 1.5px lightgray;
    height: 50px;
    width: 420px;
    padding: 24px;
}


.person-icon {
    background: url(/Join/assets/icons/person.png) no-repeat right;
    background-size: 16px;

}

.check-icon {
    background: url(/Join/assets/icons/mail.png) no-repeat right;
    background-size: 16px;

}

.phone-icon {
    background: url(/Join/assets/icons/contacts/call.png) no-repeat right;
    background-size: 16px;

}

.modal-userImg-Background {
    margin: 80px 76px 76px 76px;
    background-color: white;
    filter: drop-shadow(0 0 0.045rem gray);
    border-radius: 100%;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-userImg {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D1D1D1;
    border-radius: 100%;
}

.modal-userImg img {
    width: 36px;
}

.modal-userIcon-name {
    margin: 24px 56px;
}

.modal-userIcon-name-div {
    background-color: white;
    width: 124px;
    height: 124px;
    filter: drop-shadow(0 0 0.045rem gray);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Alles zum Modal Left */
.modal-left {
    display: flex;
    height: 594px;
    width: 467px;
    justify-content: center;
    color: white;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: var(--background-color-nav);
}

.modal-left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: normal !important;
}

.modal-left h1 {
    font-size: 61px;
    font-weight: 700;
    padding: 12px 0;
}

.modal-left p {
    font-size: 27px;
    font-weight: 400;
}

.modal-left img {
    width: 100%;
    height: 100%;
    max-width: 56px;
    max-height: 67px;
}

.modal-left hr {
    margin-top: 12px;
    height: 3px;
    border: var(--background-color-hover);
    max-width: 90px;
    border-radius: 2px;
    background: var(--background-color-hover);
    width: 100%;
}


/* Alles zum gesamten Modal */
.modal-inputfield-div {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.modal-inputfield-div form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}