

/* CONTENT */

.content {
    top: 80px;
    bottom: 80px;
    overflow-y: auto;
    position: absolute;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-color-main);
}



/* Contact Content Head & alle darunter Divs */

.contact-content-head {
    display: flex;
    justify-content: space-between;
}

.contact-content-tilte {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.contact-content-tilte hr {
    order: 3;
    width: 90px;
    height: 3px;
    background: var(--background-color-section);
    border: var(--background-color-section);
    border-radius: 8px;
}




/* Die Bearbeitungs Buttons */
.contact-content-table-editAndDeleteIcons {
    display: none;
}




.contact-content {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 32px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

/* Pfeil zum zurück gehen in Kontaktliste */ 
.contact-content-back {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}