

/* CONTENT */

.content {
    top: 80px;
    bottom: 80px;
    overflow-y: auto;
    position: absolute;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Contact Content Head */

.contact-content-head {
    display: flex;
    justify-content: space-between;
}

/* Die Bearbeitungs Buttons */
.contact-content-table-editAndDeleteIcons {
    display: none;
}




.contact-content {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 32px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

/* Pfeil zum zurück gehen in Kontaktliste */ 
.contact-content-back {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}