

/* Höhe für das Modal */
@media (max-height: 705px) {
    .modal-userImg-Background {
        top: 46.5%; 
        width: 80px;
        height: 80px; 
    }

    .modal-userImg {
        width: 72px;
        height: 72px;
    }

    .modal-userIcon-name-div p {
        width: 72px !important;
        height: 72px !important;
        font-size: 40px !important;
    }
}

@media (max-height: 600px) {
    .modal-userImg-Background {
        display: none;
    }
}