.body {
  background-color: #f4f7f9;
  margin: 0;
  padding: 0;
  font-family: "Inter-VariableFont_opsz,wght";
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  flex-direction: column;
}

.content-board {
  padding: 20px;
}

.contentheadline {
  padding-right: 420px;
}

.headlines {
  display: flex;
  width: 640px;
  flex-direction: column;
  position: relative;
  left: 95px;
  top: 313px;
}

.headlines div {
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 24px;
}

.add-task-btn-category {
  color: #2a3647;
  border: 2px solid #2a3647;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  background-color: white;
  margin-left: 10px;
  margin: 0px;
}

.add-task-btn-category:hover {
  color: #29abe2;
  border-color: #29abe2;
  background-color: white;
}

.card h2 {
  font-size: 1.2rem;
  text-align: left;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.search-bar {
  top: 96px;
  left: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.right-section {
  display: flex;
  align-items: center;
  width: 504px;
  height: 48px;
}

.search-bar input {
  font-size: 14px;
  width: 280px;
  height: 32px;
  justify-content: space-between;
  top: 90px;
}

.add-Task-Button {
  width: 160px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  background: url(../../assets/buttons/addTaskButtonDesktop.svg) no-repeat
    center;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: contain;
}

.add-Task-Button:hover {
  background: url(../../assets/buttons/addTaskButtonDesktopHover.svg) no-repeat
    center;
  height: 60px;
  border-radius: 10px;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-size: contain;
}

.input-container {
  position: relative;
  margin-right: 24px;
}

.input-container input {
  width: 312px;
  height: 48px;
  padding-right: 50px;
}

.input-container::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 36px;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: #000;
}

.input-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 3.5px;
  transform: translateY(-50%);
  background-image: url("../../assets/icons/search.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.input-decoration {
  width: 48px;
  height: 32px;
}

.vertical-line {
  width: 1px;
  height: 20px;
  background-color: #000;
  margin-right: 5px;
}

.symbol-image {
  width: 32px;
  height: 32px;
}

.board-container {
  width: 1208px;
  height: 688px;
  top: 360px;
  left: 284px;
  gap: 26px;
  position: absolute;
  display: flex;
  cursor: pointer;
}

.board-column {
  width: 246px;
  height: 688px;
  gap: 24px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.board-column.dragover {
  border: 2px dashed #007bff;
}

.board-column .task-card:hover {
  background-color: #ccc;
}

.board-column h3 {
  font-size: 1.1rem;
  text-align: left;
  margin-bottom: 10px;
  flex-grow: 1;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column-header h2 {
  font-size: 1.2em;
  color: #333;
}

.add-column-task-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.add-column-task-button:hover {
  background-color: #d4d4d4;
}

.no-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 48px;
  background-color: #a8a8a8;
  color: #e7e7e7;
  font-size: 1rem;
  font-weight: bold;
  border: 1px dashed #a8a8a8;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 10px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  width: 252px;
  height: 263px;
  padding: 16px 0px 0px 0px;
  gap: 10px;
  border-radius: 24px 0px 0px 0px;
}

.task-card {
  width: 252px;
  padding: 16px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.task-category {
  width: 125px;
  height: 27px;
  padding: 4px 16px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  padding: 4px 8px;
  gap: 10px;
  line-height: 19.2px;
  font: inter;
}

.task-card:active {
  cursor: grabbing;
  opacity: 0.8;
}

.task-card:hover {
  background-color: #e0e0e0;
  transform: scale(1.02);
}

.task-card h3 {
  font-size: 1rem;
  margin: 0 0 8px;
  color: #333;
}

.task-card p {
  font-size: 0.9rem;
  color: #757575;
  margin: 0 0 12px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress {
  flex-grow: 1;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #1e90ff;
  transition: width 0.3s ease;
}

.progress-text {
  font-size: 0.9rem;
  color: #757575;
  white-space: nowrap;
}

.avatars {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-right: -10px;
  text-transform: uppercase;
  z-index: 1;
  border: 2px solid white;
  background-color: #6e52ff;
}

.avatars .avatar:hover {
  transform: scale(1.1);
  z-index: 10;
}

.priority-icon {
  width: 24px;
  height: 24px;
}

.icon {
  font-size: 1.5rem;
  color: #ff9800;
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.arrow-icon {
  color: #ff9800;
}

.menu-icon {
  color: #ff9800;
}

#addTaskModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#addTaskForm {
  display: flex;
  flex-direction: row-reverse;
}

.add-task-modal-content {
  background-color: white;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  width: 500px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Modal Styling */
#taskDetailsModal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  gap: 24px;
  overflow: auto;
}

#taskDetailsModal .avatar-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#taskDetailsModal .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

#taskDetailsModal .subtask-item {
  display: flex;
  align-items: center;
}

#taskDetailsModal .subtask-item input {
  margin-right: 10px;
}

.subtask-checkbox img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.subtask-checkbox img:hover {
  filter: brightness(0.8);
}

ul {
  list-style-type: none;
}

.modal-content {
  background-color: white;
  margin: 0;
  padding: 40px;
  border-radius: 30px;
  width: 1116px;
  height: 838px;
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

#msg-box {
  color: red;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

.modal-content-task {
  background-color: white;
  width: 525px;
  height: 838px;
  left: 640px;
  border-radius: 30px;
  padding: 48px 40px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}

.close-button {
  font-size: 30px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: #e2e2e2;
  border-radius: 20px;
  color: #2a3647;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

.modal-addTask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content-addTask {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 800px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contentH1 {
  font-size: xxx-large !important;
  margin: 0 !important;
  position: relative;
  left: 64px;
}

.contentH2 {
  font-size: 61px;
  font-weight: 700;
  width: 466px;
  height: 78px;
  top: 64px;
  left: 74px;
  gap: 1px;
  position: absolute;
  display: flex;
}

.divider {
  width: 1px;
  height: 424px;
  top: 174px;
  left: 562.25px;
  border: 1px;
  position: absolute;
  background-color: #ddd;
  margin: 0 20px;
  align-self: stretch;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 376px;
  top: 174px;
  left: 74px;
  position: absolute;
}

.form-column-right {
  width: 440px;
  height: 416px;
  top: 174px;
  left: 610.25px;
  position: absolute;
}

input[type="text"],
input[type="date"],
select,
textarea {
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  width: 100%;
}

textarea {
  resize: vertical;
  height: 80px;
}

.required {
  color: red;
}

.priority {
  display: flex;
  gap: 8px;
  width: 440px;
  height: 56px;
  top: 120px;
}

.priority-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 16px 10px 16px 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  height: 56px;
  width: 136px;
  justify-content: center;
}

.priority-btn img {
  position: unset !important;
  width: 30px !important;
  height: 30px !important;
}

.priority-btn.clicked {
  color: #ffffff;
}

.priority-btn[data-priority="Urgent"].active {
  background-color: #ff4d4d;
  color: white;
}

.priority-btn[data-priority="Medium"].active {
  background-color: #ff9900;
  color: white;
}

.priority-btn[data-priority="Low"].active {
  background-color: #33cc33;
  color: white;
}

.priority-btn .priority-icon {
  width: 17px;
  height: 12px;
  top: 12px;
  left: 17px;
  position: relative;
  transition: filter 0.3s ease;
}

.priority-btn[data-priority="Urgent"]:hover {
  background-color: #ff4d4d;
  color: white;
}

.priority-btn[data-priority="Medium"]:hover {
  background-color: #ff9900;
  color: white;
}

.priority-btn[data-priority="Low"]:hover {
  background-color: #33cc33;
  color: white;
}

.priority-btn.active .priority-icon {
  filter: brightness(0) invert(1);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

.add-task-label {
  width: 170px;
  height: 27px;
  position: absolute;
  top: 779px;
  left: 74px;
}

.addTask-buttons {
  display: flex;
  gap: 4px;
  width: 334px;
  height: 56px;
  top: 750px;
  left: 716.25px;
  position: fixed;
}

.cancel-btn {
  color: #2a3647;
  padding: 16px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 4px;
  width: 126px;
  height: 56px;
  background-color: white;
}

.cancel-btn:hover {
  border: 1px solid #29abe2;
  color: #29abe2;
}

.create-task-btn {
  background-color: #2a3647;
  width: 183px;
  height: 56px;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  gap: 4px;
}

.create-task-btn img {
  display: none;
}

.create-task-btn:hover {
  background-color: #29abe2;
}

.delete-btn {
  cursor: pointer;
}

.delete-btn:hover {
  color: #29abe2;
}

.delete-btn:hover .delete-1 {
  display: block;
}

.delete-btn:hover .delete {
  display: none;
}

.edit-btn {
  cursor: pointer;
}

.edit-btn:hover {
  color: #29abe2;
}

.edit-btn:hover .edit-1 {
  display: block;
}

.edit-btn:hover .edit {
  display: none;
}

.add-subtask-btn {
  background-color: white;
  border: 1px solid #29abe2;
  margin-top: 5px;
  color: black;
}

.add-subtask-btn:hover {
  color: #29abe2;
  background-color: white;
}

.modal-content-headline {
  width: 445px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header {
  width: 445px;
  height: 219px;
}

#taskDetailTitle {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
}

#taskDetailDescription {
  width: 445px;
  height: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.task-type {
  display: unset;
  padding: 4px 8px;
  font-size: 23px;
  font-weight: 400;
  border-radius: 8px;
  color: white;
  height: 36px;
  gap: 10px;
  size: 23px;
  line-height: 27.6px;
}

#taskSubtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100px;
  align-items: flex-start;
}

#taskSubtasks li {
  display: flex;
  align-items: center;
  gap: 8px;
}

#taskDetailPriority {
  display: flex;
  align-items: center;
}

.assignedTo {
  width: 260px;
  height: 208px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

#subtaskContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.taskInfoDueDate {
  width: 260px;
  height: 24px;
  display: flex;
  flex-direction: column;
}

.taskInfoDueDate p {
  display: flex;
  gap: 25px;
}

.taskInfoPriority {
  display: flex;
  align-items: center;
}

.taskInfoPriority p {
  display: flex;
  gap: 38px;
  align-items: center;
}

.task-actions {
  width: 159px;
  height: 24px;
  gap: 8px;
  display: flex;
  flex-direction: row;
  left: 310px;
  position: relative;
}

.task-actions button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.task-actions button img {
  width: 20px;
  height: 20px;
}

.taskInfoDivider {
  width: 1px;
  height: 24px;
  left: 79px;
  border: 1px;
  position: absolute;
  background-color: #d1d1d1;
}

.addTask-headlines {
  padding: 10px 0;
}

.subtask-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.subtask-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.subtask-icon {
  position: relative;
  z-index: 10;
  cursor: pointer;
  pointer-events: auto;
}

.subtask-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.subtask-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Button Styling */
.subtask-add-button {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtask-add-button img {
  width: 20px;
  height: 20px;
}

.subtask-add-button:hover img {
  filter: brightness(0.8);
}

#subtaskList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
}

.subtask-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.subtask-item span {
  flex-grow: 1;
}

.subtask-title {
  font-size: 14px;
  color: #333;
}

.subtask-actions {
  display: flex;
  gap: 10px;
}

.subtask-actions img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.subtask-actions img:hover {
  transform: scale(1.2);
}

.subtask-edit-input {
  flex: 1;
  border: 1px solid #4a90e2;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: #333;
}

.custom-dropdown {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.dropdown-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrow:hover {
  background-color: #d3d3d3;
  border-radius: 55px;
  height: 24px;
  width: 24px;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  background-color: white;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
}

.dropdown-search {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}

.dropdownarrow {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown.open .dropdownarrow {
  transform: rotate(180deg);
}

.dropdown.open .dropdown-options {
  display: block;
}

.custom-second-dropdown {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.second-dropdown-placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.second-dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.second-dropdown-options.hidden {
  display: none;
}

.second-dropdown-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.second-dropdown-option:hover {
  background-color: #2a3647;
  color: white;
}

.second-dropdown-arrow {
  transition: transform 0.3s ease;
}

.second-dropdown-arrow.open {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.contact-initials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  text-transform: uppercase;
}

.select-icon,
.selected-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  right: 10px;
  position: absolute;
}

.selected-icon {
  display: none;
}

.dropdown-option.selected .select-icon {
  display: none;
}

.dropdown-option.selected .selected-icon {
  display: inline;
}

.dropdown-option:not(.selected):hover .select-icon {
  filter: brightness(0) invert(1);
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #2a3647;
  color: white;
}

.dropdown-option.selected .select-icon .selected-icon {
  background-color: #091931;
  color: white;
}

.selected-contact-initials {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 5px;
  text-transform: uppercase;
}
