@media screen and (max-width: 1360px) {
  .search-bar {
    width: 1010px;
  }

  .headlines {
    width: 1010px;
    left: 195px;
  }

  .headlines div {
    width: 235px;
  }

  .board-container {
    left: 245px;
    gap: 16px;
  }

  .no-tasks {
    width: 185px;
  }

  .task-card {
    width: 185px;
  }
}

@media screen and (max-width: 1220px) {
  .search-bar {
    width: 815px;
  }

  .headlines {
    width: 720px;
    left: 190px;
  }

  .headlines div {
    width: 235px;
  }

  .board-container {
    left: 245px;
    gap: 16px;
  }

  .board-column {
    width: 170px;
  }

  .no-tasks {
    width: 185px;
  }

  .task-card {
    width: 185px;
  }

  .modal-content-task {
    left: 330px;
  }

  .modal-content {
    width: 1050px;
  }
}

@media screen and (max-width: 990px) {
  .search-bar {
    width: 815px;
  }

  .right-section {
    display: flex;
    width: 310px;
    height: 48px;
    align-items: center;
  }

  .input-container {
    position: absolute;
    top: 145px;
    left: 60px;
    width: 605px;
  }

  .headlines {
    display: flex;
    width: 640px;
    flex-direction: column;
    gap: 340px;
    left: 230px;
  }

  .headlines div {
    width: 600px;
  }

  .board-container {
    display: flex;
    gap: 80px;
    flex-direction: column;
    top: 353px;
    left: 265px;
    width: 600px;
  }

  .tasks-container {
    flex-direction: row;
  }

  .board-column {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .no-tasks {
    width: 600px;
    margin-top: 20px;
  }

  .task-card {
    flex: 1 1 100%;
    gap: 0;
  }

  .modal-content {
    width: 960px;
  }

  .form-column-right {
    width: 338px;
    left: 565.25px;
  }

  .priority {
    width: 336px;
  }

  .addTask-buttons {
    width: 230px;
  }

  .form-column-left {
    width: 336px;
  }

  .divider {
    left: 480.25px;
  }
}

@media screen and (max-width: 900px) {
  .search-bar {
    width: 640px;
  }

  .search-bar button {
    width: 40px;
    height: 40px;
    font-size: xxx-large;
    border-radius: 10px;
  }

  .right-section {
    display: flex;
    width: 310px;
    height: 48px;
    align-items: center;
  }

  .input-container {
    position: absolute;
    top: 145px;
    left: 60px;
    width: 370px;
  }

  .headlines {
    display: flex;
    width: 640px;
    flex-direction: column;
    gap: 340px;
    left: 230px;
  }

  .headlines div {
    width: 370px;
  }

  .board-container {
    display: flex;
    gap: 80px;
    flex-direction: column;
    top: 352px;
    width: 375px;
  }

  .tasks-container {
    flex-direction: row;
  }

  .board-column {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .no-tasks {
    width: 370px;
  }

  .task-card {
    flex: 1 1 100%;
    gap: 0;
  }

  .modal-content-task {
    left: 80px;
  }

  .add-Task-Button {
    background: url(../../assets/buttons/addTaskButtonMobile.svg) no-repeat
      center;
  }

  .add-Task-Button:hover {
    background: url(../../assets/buttons/addTaskButtonMobileHover.svg) no-repeat
      center;
  }

  .modal-content {
    width: 835px;
  }

  .form-column-right {
    width: 338px;
    left: 470.25px;
  }

  .priority {
    width: 336px;
  }

  .addTask-buttons {
    width: 230px;
    left: 582.25px;
  }

  .form-column-left {
    width: 300px;
  }

  .divider {
    left: 415.25px;
  }
}

@media screen and (max-width: 840px) {
  .modal-content {
    width: 765px;
  }

  .form-column-right {
    width: 338px;
    left: 415.25px;
  }

  .priority {
    width: 336px;
  }

  .addTask-buttons {
    width: 230px;
    left: 524.25px;
  }

  .form-column-left {
    width: 300px;
  }

  .divider {
    left: 373.25px;
  }
}

@media screen and (max-width: 770px) {
  .modal-content {
    width: 700px;
  }

  .form-column-right {
    width: 245px;
    left: 375.25px;
  }

  .priority {
    width: 245px;
    gap: 2px;
  }

  .addTask-buttons {
    width: 230px;
    left: 450.25px;
  }

  .form-column-left {
    width: 245px;
  }

  .divider {
    left: 330.25px;
  }
}

@media screen and (max-width: 700px) {
  .modal-content {
    width: 660px;
  }

  .addTask-buttons {
    width: 230px;
    left: 405.25px;
  }
}

@media screen and (max-width: 660px) {
  .search-bar {
    width: 640px;
  }

  .search-bar button {
    width: 40px;
    height: 40px;
    font-size: xxx-large;
    border-radius: 10px;
  }

  .right-section {
    display: flex;
    width: 310px;
    height: 48px;
    align-items: center;
  }

  .input-container {
    position: absolute;
    top: 75px;
    left: 60px;
    width: 370px;
  }

  .headlines {
    display: flex;
    width: 370px;
    flex-direction: column;
    gap: 285px;
    left: 95px;
    top: 245px;
  }

  .headlines div {
    width: 370px;
  }

  .board-container {
    display: flex;
    gap: 50px;
    flex-direction: column;
    top: 280px;
    left: 150px;
    height: 1230px;
    width: 353px;
  }

  .tasks-container {
    flex-direction: row;
    position: absolute;
    left: 0;
    gap: 5px;
    margin-top: -45px;
  }

  .board-column {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    height: 250px;
  }

  .no-tasks {
    width: 370px;
    left: -25px;
    position: absolute;
    margin-top: -50px;
  }

  .task-card {
    flex: 1 1 100%;
    gap: 0;
  }

  .modal-content-task {
    height: 780px;
    left: 4px;
  }

  .modal-content {
    position: absolute;
    overflow-y: scroll;
  }

  .modal-content::-webkit-scrollbar {
    display: none;
  }

  .form-column-left {
    left: 100px;
    top: 61px;
  }

  .form-column-right {
    left: 100px;
    margin-top: 0;
    top: 420px;
  }

  .addTask-buttons {
    left: 195px;
    top: 760px;
    position: fixed;
  }

  .add-task-label {
    padding-bottom: 0;
    left: 110px;
  }

  .divider {
    display: none;
  }

  .contentH2 {
    display: none;
  }

  .modal-content {
    width: 450px;
  }
}
