body {
  font-family: 'Inter';
  font-style: normal;
  color: #000000;
  line-height: 120%;
  max-width: 1920px;
  width: 100%;
  overflow-x: hidden;
}

.h1AndSearchBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  position: absolute;
  max-width: calc(100% - 232px);
  ;
  width: 100%;
  height: 73px;
  left: 64px;
  top: calc(50% - 73px/2);
}

.boardHead {
  position: absolute;
  max-width: calc(1920px - 232px);
  width: 100%;
  height: 232px;
  left: 232px;
  top: 96px;
}

.h1AndSearchBar h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
}

.searchAndAdd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: calc(100% - 232px);
  height: 48px;
}

#search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 312px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  border-radius: 10px;
}

#lupe {
  position: absolute;
  top: 20px;
  right: 345px;
}

#addTaskBtn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 4px;
  width: 160px;
  height: 56px;
  background: #2A3647;
  border: 1px solid #2A3647;
  border-radius: 10px;
  font-weight: 700;
  font-size: 21px;
  color: #FFFFFF;
  white-space: nowrap;
  margin-right: 130px;
  cursor: pointer;
}

#addTaskBtn:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 4px;
  width: 160px;
  height: 56px;
  background: #29ABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: unset;
}

.listHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  padding: 0px 64px;
  width: calc(100% - 232px);
  max-width: 1920px;
  height: 24px;
  left: 43.1%;
  transform: translateX(-50%);
  bottom: 7.5px;
}

.listHeadandBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-grow: 1;
  max-width: 244px;
  min-width: 150px;
  height: 24px;
}

.listHeadNoBtn {
  flex-grow: 1;
  max-width: 244px;
  min-width: 150px;
  height: 24px;
}

.listHeadSpan {
  height: 24px;
  font-weight: 700;
  font-size: 20px;
  color: #42526E;
}

.plusBtn {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-image: url('../assets/buttons/plusButton.png');
}

.plusBtn:hover {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-image: url('../assets/buttons/plusButtonHoover.png');
}

#boardSpace {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 64px;
  gap: 26px;
  position: absolute;
  width: calc(100% - 232px);
  max-width: 1920px;
  height: 688px;
  right: 0px;
  top: 336px;
}

.dragNDropContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 252px;
  height: 688px;
  align-self: stretch;
  flex-grow: 1;
}