
:root {
    --background-color-header: #FFFFFF;     /* Helles Cyan */
    --background-color-nav: #2b3a4a;        /* Sanftes T체rkis */
    --background-color-main: #F6F7F8;       /* Leichtes Aqua */
    --background-color-aside: #4DD0E1;      /* Frisches Blau */
    --background-color-section: #26C6DA;    /* Lebhaftes T체rkis */
    --background-color-footer: #00BCD4;     /* Kr채ftiges Blau */
    --background-color-card: #00ACC1;       /* Mittelblau */
    --background-color-overlay: #0097A7;    /* Dunkleres Blau */
    --background-color-highlight: #00838F;  /* Tiefes T체rkis */
    --background-color-deep: #006064;       /* Dunkles Zyan */
  }