/* Alles zum  Contact-Content */

.contact-content {
    margin: 0 36px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.contact-content-head {
    display: flex;
    padding-top: 64px;
    gap: 12px;
}

.contact-content-head p {
    align-content: center;
    font-size: larger;
}

.contact-content-head hr {
    width: 2px;
    border: 2px;
    background-color: var(--background-color-aside);
    border-radius: 1px;
}

.contact-content-table-usernameAndIcons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.contact-content-table-editAndDeleteIcons {
    display: flex;
    gap: 16px;
}

.contact-content-table-editAndDeleteIcons div {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

/* Nur für die P-Tags unter "E-Mail und Phone" */
.contact-content-table-usernameFullinformation div p {
    padding: 20px 0;
}

.contact-content-table-usernameFullinformation a {
    
}

/* Nur für "Contact Information" */
.contact-content-information {
    font-size: 18px;
    padding: 36px 0;
}


/* Alles zum Contact-Board */


.contact-board {
    padding: 0 40px;
    width: 33%;
    max-height: calc(100vh - 96px);         /* 96px beträgt die Höhe der Nav-Bar */
    z-index: 2;
    filter: drop-shadow(-5px 8px 5px);
    background-color: var(--background-color-header);
    overflow-y: auto;
}


.add-new-contact-background{
    filter: drop-shadow(-6px 10px 6px white);
    background-color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.add-new-contact-btn {
    background-color: var(--background-color-nav);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 8px;
    border-radius: 6px;
    position: sticky; 
    top: 0;
    cursor: pointer;
}

.add-new-contact-btn img {
    width: 24px;
}

.add-new-contact-btn p {
    font-weight: 550;
    font-size: 17px;
}

.add-new-contact-btn:hover {
    z-index: 3;
    background-color: var(--background-color-card);
    filter: drop-shadow(0 -6px 6px);
}

.user-contact {         
    padding: 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.user-contact:hover {
    background-color: aliceblue;
}

.headLetter {
    font-size: large;
    padding: 20px;
}

