

.contact-content {
    margin: 0 36px;
}

.contact-content-head {
    display: flex;
    padding-top: 64px;
    gap: 12px;
}

.contact-content-head p {
    align-content: center;
    font-size: larger;
}


/* Alles zum Contact-Board */


.contact-board {
    padding: 0 40px;
    width: 33%;
    max-height: calc(100vh - 96px);         /* 96px beträgt die Höhe der Nav-Bar */
    z-index: 2;
    filter: drop-shadow(-5px 8px 5px);
    background-color: var(--background-color-header);
    overflow-y: auto;
}


.add-new-contact-background{
    filter: drop-shadow(-6px 10px 6px white);
    background-color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
}

.add-new-contact-btn {
    background-color: var(--background-color-nav);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 8px;
    border-radius: 6px;



    position: sticky; 
    top: 0;
}

.add-new-contact-btn img {
    width: 24px;
}

.add-new-contact-btn p {
    font-weight: 550;
    font-size: 17px;
}

.add-new-contact-btn:hover {
    z-index: 99;
    background-color: var(--background-color-card);
    filter: drop-shadow(0 -6px 6px);
}



.user-contact {         
    padding: 12px 0;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.user-contact:hover {
    background-color: aliceblue;
}



.headLetter {
    font-size: large;
    padding: 20px;
}
