
@font-face {
    font-family: "Inter";
    src: url("/Join/assets/fonts/Inter-VariableFont_opsz,wght.ttf") format("woff"),
        url("/Join/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
} 

/* Für Local */

