
header {
    background-color: var(--background-color-header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px 20px 348px;
    gap: 34px;
    position: fixed;
    height: 96px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 2;
}

#managmentTool {
    margin: 0 auto;
    width: 319px;
    height: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

header div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#managmentTool {
    margin: 0 auto;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

#userProfil {
    border: solid 2px black;
    border-radius: 100%;
    padding: 8px;
    width: 48px;
    height: 48px;
    color: var(--background-color-aside);
    cursor: pointer;
}

header img:hover {
    scale: 1.075;
}

#initials {
    width: -webkit-fill-available;
    text-align: center;
    color: white;
}

.userMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    top: 96px;
    right: 20px;
    width: 150px;
    height: 158px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    z-index: 6;
}

.userMenuButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 130px;
    height: 46px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.userMenuButton:hover {
    background: #2A3D59;
    transform: scale(1.05);
}

.userMenuBtnSpan {
    font-weight: 400;
    font-size: 16px;
    color: #CDCDCD;
    white-space: nowrap;

}

.dNone {
    display: none;
}

@media(max-width: 820px) {
    header {
        padding: 20px 82px 20px 253px;
    }
}

@media(max-width: 730px) {
    #managmentTool {
        font-size: 16px;
        width: 280px;
    }
}

