* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f4;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    gap: calc(100% - 48px - 56px);
    position: fixed;
    width: 100%;
    height: 80px;
    max-width: 660px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 5;
}

#userProfil {
    width: 40px;
    height: 40px;
    border: 2px solid black; /* Schwarzer Rand */
    border-radius: 50%; /* Macht das div zu einem Kreis */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#initials {
    width: -webkit-fill-available;
    text-align: center;
    color: white;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 32px;
    height: 39.02px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    max-width: 660px;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    z-index: 5;
}

.outerButtonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 1px;
    gap: 10px;
    margin: 0 auto;
    width: 80px;
    height: 76px;
    border-radius: 16px;
    cursor: pointer;
}

.activ {
    background: #091931;
}

.innerMenuButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    gap: 4px;
    width: 76px;
    height: 76px;
    border-radius: 8px;
}

.mobileMenuBtns {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.userMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: absolute;
    width: 150px;
    height: 204px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    z-index: 20;
    top: 80px;
    right: 20px;
    cursor: pointer;
}

.userMenuButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    width: 130px;
    height: 46px;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.userMenuButton:hover {
    background: #2A3D59;
    transform: scale(1.05);
}

.userMenuBtnSpan {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #CDCDCD;
    white-space: nowrap;
}

.dNone {
    display: none;
}