

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  width: -webkit-fill-available;
  padding-right: 40px;
  padding-left: 72px;
  background-color: var(--background-color-header);
  font-size: large;
  font-weight: 600;
  filter: drop-shadow(0 -6px 6px);
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#userProfil {
  border: solid 2px black;
  border-radius: 100%;
  padding: 8px;
  width: 48px;
  height: 48px;
  color: var(--background-color-aside);
}

header img:hover {
  scale: 1.075;
}
