.signedInFont {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

#signedUp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
    width: 312px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
    /* Animation hinzufügen */
    opacity: 0;
    /* Startet unsichtbar */
    transform: translateY(-100%);
    /* Startposition oberhalb des Viewports */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Übergang */
}

#signedUp.slide-in {
    animation: slideDown 1.5s ease forwards;
}

#signedUp.slide-out {
    animation: slideUp 1.5s ease forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

#arrowLeft {
    width: 21.33px;
    height: 20.74px;
    cursor: pointer;
}

#signUpHeader {
    margin-left: 32px;
}

.SignUpHead {
    display: flex;
    justify-content: flex-start;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
