
/* Grundstil für das Projekt */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("woff2"),
       url("/assets/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color-body);
  font-family: 'Inter';
  font-style: normal;
  color: #000000;
  line-height: 120%;
  overflow-x: hidden;
}

/* Hauptinhalt */
.content {
  padding: 40px;
  flex: 1;
}

/* alles zu Main */

aside {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}


main {
  display: flex;
  padding: 0 !important;
}
