
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  line-height: 120%;
}

body {
  display: flex;
  max-height: 100vh;
  background-color: #f4f4f4;
  height: 100%;
  overflow-y: auto;
  max-width: 1920px;
}

.logo-container.static {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.navBarBtnsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 232px;
  height: 229px;
}

.navBarBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 53px;
  gap: 20px;
  width: 232px;
  height: 46px;
  border-radius: 8px;
  white-space: nowrap;
  cursor: pointer;
}

.navBarBtns:hover {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 56px;
  gap: 20px;
  width: 232px;
  height: 46px;
  background: #2A3D59;
}

.navBarBtns span {
  font-weight: 400;
  font-size: 16px;
  color: #CDCDCD;
}

.active {
  padding: 8px 56px;
  gap: 20px;
  background: #091931;
  width: 232px;
  height: 46px;
}

aside {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
}

main {
  display: flex;
  padding: 0 !important;
}
